<html>
  <body>
    <div>
      <p style="color: black">Hera-Class 회원가입 인증 메일입니다</p>
      <p style="color: black">
        아래의 인증번호를 입력하여, 회원가입을 진행해 주세요.
      </p>
      <p style="color: black">인증번호의 유효기간은 5분 입니다 ^^ .</p>
      <h2><%= userCode %></h2>
    </div>
  </body>
</html>
